body{
	margin:0px;
	padding:0px;
	font-family: Arial;
}

.clear {
	clear: left;
}

/* ----- HEADER ----- */
header{
	position: relative;
	height: 260px;
	background: linear-gradient(45deg, #5eba4d, #099294);
}

header .menu{
	height: 30px;
	background-color: rgba(253, 249, 250,0.8);
	box-shadow: 0px 4px 69px -21px rgba(0,0,0,0.75);
	padding: 25px 100px;
}

header .logo{
	font-size: 26px;
	float:left;
}

header .datetime{
	float: right;
	font-size: 18px;
	margin-top: 0px;
	text-align: right;
}

header .title{
	clear: both;
	text-align: center;
	color: white;
	margin-top: 50px;
	font- 
}

.waves {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.main{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
}
/* ----- END HEADER ----- */

/* ----- TEAMS ----- */
.teams-wrapper {	
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
}
.teams-heading {
	padding-top: 80px;
	padding-bottom: 50px;
	color: #5f5d60;
}  
.teams-heading h2 {
	font-weight: normal;
}
.teams {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.team {
	float: left;
	width: 20%;
}
.team-icon {		
	display: block;
	position: relative;	
}
.team-icon img {
	opacity: 1;
	transition: opacity 0.5s;
  	backface-visibility: hidden;	
	width: 150px;
	border-radius: 160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;
	-ms-border-radius: 160px;
	-o-border-radius: 160px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.team-icon:hover img {
	opacity: 0.3;
}
.team-icon p {
	opacity: 0;
	position: absolute;
	top: 60%;
	width: 100%;
	color: rgb(34, 32, 32);
	font-weight: bold;
	transform: translateY(20px);
	transition: transform 0.5s;
}	
.team-icon:hover p {
	opacity: 1;
	transform: translateY(0);	
}

/* ----- END TEAMS ----- */

/* ----- RESPONSIVE ----- */
@media (max-width: 1000px) {
	.team {
		width: 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 670px) {
	.team {
	  width: 100%;
	}
}
/* ----- END RESPONSIVE ----- */