body{
	margin:0px;
	padding:0px;
	font-family: Arial;
}
/* ----- HEADER ----- */
header{
	position: relative;
	height: 260px;
	background: linear-gradient(45deg, #5eba4d, #099294);
}

header .menu{
	height: 30px;
	background-color: rgba(253, 249, 250,0.8);
	box-shadow: 0px 4px 69px -21px rgba(0,0,0,0.75);
	padding: 25px 100px;
}

header .logo{
	font-size: 26px;
	float:left;
}

header .datetime{
	float: right;
	font-size: 18px;
	margin-top: 0px;
	text-align: right;
}

header .title{
	clear: both;
	text-align: center;
	color: white;
	margin-top: 50px;
	font- 
}

.waves {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.main{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
}
/* ----- END HEADER ----- */

/* START FOOTER */
.footer p {
	color: white;
	font-size: 12px;
	padding: 25px 100px;
	background-color: #25a862;
}
  
.footer {
	padding-top: 30px;
}
@media all and (max-width: 670px) {
    .footer {
        text-align: center;
    }
}
